.container{
    font-size: 10px;
    font-weight: bold;
    width:120px;
    padding:15px 15px;
    border-radius: 8px;
    color: white;
    background-color: #006FCD;
    cursor: pointer;
    border: none;
   
  
}