.container{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 30px;
    background: linear-gradient(to bottom, #006FCD ,#bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.content{
    display: flex;
    gap: 100px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
}

.input{
    padding: 20px;
    border: 1px solid #fff;
    background-color: #111111;
    color: white;
}
.darkInput{
    padding: 20px;
    border: 1px solid #111;
    background-color: white;
    color: #111;
}

.textarea{
    padding: 20px;
    border: 1px solid #fff;
    background-color: #111111;
    color: white;
}
.darkTextarea{
    padding: 20px;
    border: 1px solid #111;
    background-color: white;
    color: #111;
}

.img{
    object-fit: contain;
    animation: move 2s infinite ease alternate;
}

@keyframes move{
    from{
        transform: translateY(-15px);
    }
    to{
        transform: translateY(0px) scale(1.03);
    }
}