.container{
 display: flex;
 flex-direction: column;
}

.title{
  
    font-size: 100px;
    font-weight: bold;
}

.shortTitle{
font-size: 30px;
font-weight: 500;
}
.box{
    border:4px solid #bbb;
    position: relative;
}

.img{
  
    object-fit: cover;
   
}

.gallery{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
}

.text{
    position: absolute;
    bottom: 20px;
    right: 20px;

}

.text:hover{
    color:#53c28b;
}

.item{
    display: flex; 
    gap: 450px;
    /* justify-content: space-between; */
    margin-top: 50px;
    margin-bottom: 100px;
}

.item:nth-child(2n+1){
    flex-direction: row-reverse;
    
}

.imgContainer{
    flex:1;
    height: 500px;
    position: relative;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}    